/* For our own custom styles */

.nav-button-section{
    min-height: 50px;
    margin: auto;
}

md-toolbar.navbar{
    background-color:black;
    margin: auto;
}

div.margin{
    margin:auto;
}

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height){
    min-height: 900px;
    width: 85%;
    margin:auto;
}

.nav-button:not([disabled]) {
    color : white;
    background-color: black;
    border-radius: 5px 5px 5px 5px;
    font-size: 16px;
}
.nav-button:not([disabled]):hover {
    background-color: #004d00;
    color: white;
}

/* Schedule css below */

.tabsStaticTabs .after-tabs-area > span {
    margin-top: 25px;
    padding-right: 15px;
    vertical-align: middle;
    line-height: 30px;
    height: 35px; }

.tabsStaticTabs .after-tabs-area > md-checkbox {
    margin-top: 26px;
    margin-left: 0; }

.md-tabs.md-accent.ng-isolate-scope {
/* perhaps for later */
}

/* */
div.ng-scope.ng-isolate-scope{
    margin-left: .12%;
}

/* for inner calendar */
#schedule{
    min-height:930px;
    width:85%;
    margin:auto;
}

.tileBackground{
    background-color: #e6e6e6;
}

.blankClass{
    background-color: #fafafa;
}

md-grid-list md-grid-tile md-grid-tile-footer{
    height: 25%;
}

.infoText{
    font-size: .9em;
    -webkit-margin-before: auto;
    -webkit-margin-after: auto;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    font-weight: normal;
     text-transform: capitalize;
}

/* for days of the week */
.dayofweek{
    background-color: #e6e6e6;
    padding: .4%;
    text-align:center;
    font-size:12px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: .5%;
}

