<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header center">
      <a class="navbar-brand" href="#">UW-Madison's Software Development Club</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="hvr-underline-from-center"><a href="#">Home</a></li>
      <!-- update hrefs here -->
      <li><a href="#section-i">Page 1</a></li>
      <li><a href="#section-ii">Page 2</a></li>
      <li><a href="#section-iii">Page 3</a></li>
      <li><a href="#section-iv">Page 4</a></li>
    </ul>
  </div>
</nav>

<!-- feel free to change these values, just remember to update
     the href value in the corresponding section above -->
<div class="container">
  <div id="section-i" class="section"> Section 1 </div>=
  <div id="section-ii" class="section"> Section 2</div>
  <div id="section-iii" class="section"> Section 3</div>
  <div id="section-iv" class="section"> Section 4 </div>
</div>
