<md-toolbar layout="row" class="md-whiteframe-z3 navbar">
  <div class="margin"><h2>Wisconsin SDC</h2></div>
  <div layout="row" layout-align="end center" class="nav-button-section">
    <md-button ng-click="goTo('#')" class="md-primary nav-button">Home</md-button>
    <md-button class="md-primary nav-button">About Us</md-button>
    <md-button ng-click="goTo('#/projects')" class="md-primary nav-button">Projects</md-button>
    <md-button ng-click="goTo('#/calender')" class="md-primary nav-button">Fall 2016 Schedule</md-button>
  </div>
</md-toolbar>
