<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:200,600,800" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../styles/homepage-styles.css">

<div id="banner">
	<div id="banner-image"></div>
	<div id="banner-content">
		<div class="row">
			<div class="col-md-3 col-xs-0"> 
			</div>
			<div class="col-md-1 col-xs-2">
				<img src="../assets/uwmadison-logo.png">
			</div>
			<div class="col-md-6 col-xs-10">
				<p id="banner-title">Software Development Club</p>
				<p id="banner-subtitle">University of Wisconsin-Madison</p>
			</div>
			<div class="col-md-2 col-xs-0"> 
			</div>
		</div>
	</div>
</div>

<div id="content-info">
	<div>
		<h2>Our Mission</h2>
		<p>As an organization the software development club focuses on fostering practical development skills in students who are interested in computer science. We strive to engage our members in innovative projects, encouraging teamwork and synergy. In doing so we hope to help our members better understand the process of development and concepts taught in class as well as exposing them to topics not covered by the curriculum.</p>
	</div>
	<div>
		<h2>Member Expectations</h2>
		<p>All active members must fulfill club dues. Members engaged in projects should expect to devote 2-3 hours a week to the project. Project groups would be expected to give updates on their projects regularly at club meetings. <br>
		The weekly club meetings will be 3 hours long, and there will be regular workshops during the meetings focusing on different technologies and other aspects of development. The remainder of the time can be used by members and groups to work on their projects.</p>
	</div>
</div>

<div id="footer">
	<p>Made by the executive board of the Software Development Club.</p>
</div>
