<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="jumbotron text-center">
  <h1>Projects</h1>
  <p>"Don't be afraid of new arenas" - Elon Musk</p>
</div>

<div class="container">
  <div class="row" id="row-top">
    <div class="col-sm-4">
      <h3>GRU</h3>
      <p>A social app for finding fun and productive study groups!</p>
      <p>GRU allows students to create, advertise, and join study groups for common classes. Users can search for classes in which to find groups, and the app will return available study groups for that class at their school.</p>
    </div>
    <div class="col-sm-4">
      <h3>TEC</h3>
      <p>A textbook exchange app.</p>
      <p>Users have a "Have" list and a "Want" list, and our program will by default match people up based on these lists. For example, a person with a Calc textbook on their "Want" list will be matched with a person with that textbook on their "Have" list. We will also be implementing a simple messaging system so users can talk and decide on a meeting place to exchange the textbooks.
      .</p>
    </div>
    <div class="col-sm-4">
      <h3>Perfect Pantry</h3>
      <p>A pantry management system for the 21st century.</p>
      <p>It is going to support users creating a pantry together that shows all the food they currently have. Then the users can add items to either a personal shopping list, or a group shopping list. It will then have an expense tracker that shows how much each person has spent on shared groceries so that its easy to either pay them back, or know who should buy groceries next time.
      .</p>
    </div>
  </div>
  <div class="row"> 
    <div class="col-sm-4">
      <h3>Cicerity</h3>
      <p>An Android applicatino built for tourists.</p>
      <p>The goal is to provide them with easy access to local tour guides in any city.  After creating an account, the user is able to search for guides in the area, schedule a tour, and pay all within the application.  Additionally, both the tour guide and tourist can rate each other on their based on their experience to provide feedback for future guides and tourists.
      .</p>
    </div>
    <div class="col-sm-4">
      <h3>Temp.0</h3>
      <p>A fitness tracking app perfect for keeping you motivated in reaching your fitness goals.</p>
      <p>Temp.0 features a speedometer for gauging the user's movespeed, as well as GPS location. Users can also set a goal speed to maintain throughout their run. The key feature of Temp.0 is its ability to provide painful auditory feedback if the user falls below the set goal speed.</p>
    </div>
    <div class="col-sm-4">
      <h3>MakeFood</h3>
      <p>A versatile cookbook app allowing users to search for recipes based on whatever ingredients they possess.</p>
      <p>MakeFood allows users to submit a list of ingredients that they possess, which will allow the app to search for and return food recipes that can be accomplished with those ingredients. MakeFood allows improvised cooking for both gourmet chefs and beginners alike!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h3>Tic-Tac-Toe</h3>
      <p>A clasic game with a digital twist.</p>
      <p>We took the simple childhood game and made it virtual. Customize your piece and play against friends. If you're up for the challenge, there are multiple AI's waiting to play as well. Optimized for the computer, players can easily undo their last move and clear the board with the click of a button. Who can get three-in-a-row first?</p>
    </div>
  </div>
</div>
